.navBar {
    padding: 30px 27px;
    display: flex;
    align-items: center;
    background-color: #21222A;
    color: #61DAFB;
    margin: 0;
}
.navBar img {
    margin-right: 5px;
}
.navBar h1 {
    margin-right: auto;
    font-weight: 700;
    font-family: Inter;
font-size: 22.253px;
font-weight: 700;
}
.navBar h2 {
    font-weight: 600;
    color: #DEEBF8;
font-size: 16px;
}